{%load static%}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    
    <title>
    {%block title%} {{title}} {%endblock%}
        

    </title>
    <link rel="stylesheet"  href="{% static 'css/styless.css'%}">
</head>

<body>
    <div class="login-box">
 
        <form method="post" action="">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" name="username" required autocomplete 
                >
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password"  autocomplete 
                required>
                <label>Password</label>
            </div>
            <center>
                <button type="submit" class="send-button">
                    SEND
                    <span></span>
                </button>
            </center>
        </form>
      </div>
    
    

</body>

</html>