{%load static%}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
        <!--titulo de cada pagina-->
        {% endblock %}

    </title>
    <link rel="stylesheet"  href="{% static 'css/styles.css'%}">
</head>

<body>
    
    <!--Cabecera de la pagina-->
    <header>
            <div id="logotipo">
                <h1> Control de Asistencia Academico </h1>
            </div>
    </header>

    
    <div id="content">

        <div class="box">
            
            {% block content %}
            <!--Codigo que viene de templates-->
            <strong>Contenido del bloque original</strong>
            {% endblock %}

        </div>
    
    </div>

    <div id="content_admin">

        <div class="admin_box">
            {% block content_admin %}
            <!--Codigo que viene de templates-->
            <strong>Contenido del bloque original</strong>
            {% endblock %}

        </div>
    </div>


<footer>
    Control de Asistencia Academico &copy; Santiago Jaimes -{%now "d/m/Y"%}
</footer>



</body>

</html>