/*Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}

body{
    background-color: #000;
    background-image: url('https://images2.alphacoders.com/130/1308322.jpeg');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo en su lugar mientras se desplaza */
}

header{
    width: 100%;
    height: 100px;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: rgba(24, 30, 31, 0.7);
    box-shadow: 0px 0px 20px gray; /* Mismo sombreado para header y footer */
    text-align: center; /* Centro el contenido en ambos */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}


#logotipo h1{
    display: block;
    float: left;
    margin-top: 20px;
    margin: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color:white;
    padding-left: 100px;
}

/* Estilos contenido central*/

#content{
    width: 1240px;
    min-height: 930px;
    margin: 0 auto;
    margin-top: 30px;
    margin-top: 50px;
    color: #0D1925;
}

.opciones{
  margin-left: 20px;
  color: white;
}
.pasos{
  color: white;
}
.title{
  color: white;
}

.box{
    background-color: rgba(24, 30, 31, 0.7);
    width: 90%;
    min-height: 430px;
    padding: 20px;
    border:2px solid #ddd;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 20px;
}


#content_admin{
    width: 1240px;
    min-height: 530px;
    margin: 0 auto;
    margin-top: 30px;
    margin-top: 50px;
    color: #0D1925;
}

.admin_box{
    background-color: rgba(24, 30, 31, 0.7);
    width: 90%;
    min-height: 430px;
    padding: 20px;
    border:2px solid #ddd;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 20px;
    text-align: center;
}


/*
.formulario{
    width: 100%;
    color: #282962;
    font-size: 25px;
    text-align: left;
    
}

.formulario h1{
    font-size: 36px;
    text-align: center;
}

.formulario input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(24, 30, 31, 0.7);
    border-radius: 40px;
}
*/
.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
  
}

.input {
  width: 400px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: #0d1925;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}



/* Estilos para la imagen */
.containe .image {
  width: 300px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  float: right;
  
}
.containe .img{
  width: 300px;
  height: auto;
}

.QR .imag{
  width: 300px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  float: right;
  background-color: #fff;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: #282962;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    width: 400px;
    height: 45px;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
}




footer{
    width: 100%;
    height: 20px;
    margin: 0 auto; /* Para centrar horizontalmente */
    background-color: rgba(24, 30, 31, 0.7);
    box-shadow: 0px 0px 20px gray; /* Mismo sombreado para header y footer */
    text-align: center; /* Centro el contenido en ambos */
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }

  header {
      width: 100%;
      padding: 10px;
  }

  #logotipo h1 {
      padding-left: 10px;
  }


  .box, .admin_box {
      width: 95%;
  }

  footer {
      width: 100%;
      padding: 10px;
  }
}