{% extends 'layouts/layout.html' %}


{%block title%} {{title}} {%endblock%}


{%block content%}
    <form class="formulario" method="post" action="">
        {% csrf_token %}
        <h1 class="title">{{title}}</h1>
        <br>
        <div class="containe">
          <img src="https://cdn-icons-png.flaticon.com/512/1914/1914868.png" alt="Imagen" class="image">
        </div>
        <br>
        <div class="container">
          <input required="" type="text" name="nombre" class="input" autofocus 
          autocomplete 
          required> 
          <label class="label">Nombre</label>  
        </div>
        <br>
        <div class="container">
          <input required="" type="text" name="apellido" class="input" autofocus 
          autocomplete 
          required>
          <label class="label">Apellido</label>
        </div>
        <br>
        <div class="container">
          <input required="" type="text" name="email" class="input" autofocus 
          autocomplete 
          required>
          <label class="label">Email</label>
        </div>
        <br>
        <div class="container">
          <input required="" type="number" name="numero_telefonico" class="input" autofocus 
          autocomplete 
          required>
          <label class="label">Numero Telefonico</label>
        </div>
        <br>
        <div class="container">
          <input required="" type="text" name="materia" class="input" autofocus 
          autocomplete 
          required>
          <label class="label">Materia</label>
        </div>
        <br>
        
       <button>
        <div class="svg-wrapper-1">
          <div class="svg-wrapper">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill="currentColor"
                d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
              ></path>
            </svg>
          </div>
        </div>
        <span>Enviar</span>
      </button>
      
    </form>

{%endblock%}



{%block content_admin %}
    <h1 class="title">Login in</h1>
    <br>
    <p class="title">Ver Regsitros | <a href="{% url 'admin:index' %}" class="Ingresar">Ir al Panel de Administración</a></p>
    <br>
    <div class="containe">
      <img src="https://cdn.icon-icons.com/icons2/2407/PNG/512/login_gov_icon_146024.png" alt="Imagen" class="img">
    </div>


{%endblock%}