{% extends 'layouts/layout.html' %}


{%block title%} {{title}} {%endblock%}


{%block content%}
    <h1 class="title">{{title}}</h1>
    <div class="QR"> 
        <img src="{% url 'qr_code' %}" alt="QR Code" class="imag">
    </div>
    <br>
    <h2 class="pasos">Pasos a seguir:</h2>
    <br>
    <ol class="opciones">
        <li>Abre la aplicación de escaneo de códigos QR en tu dispositivo.</li>
        <br>
        <li>Apunta la cámara de tu dispositivo hacia el código QR y abre el link.</li>
        <br>
        <li>Completa el formulario de Asistencia y envia tu registro.</li>
    </ol>

{%endblock%}

{%block content_admin %}
    <h1 class="title">Login in</h1>
    <br>
    <p class="title">Ver Regsitros | <a href="{% url 'admin:index' %}" class="Ingresar">Ir al Panel de Administración</a> </p> 
    <br>
    <div class="containe">
      <img src="https://cdn.icon-icons.com/icons2/2407/PNG/512/login_gov_icon_146024.png" alt="Imagen" class="img">
    </div>
    <br>
    <p class="title">Descargar Registros | <a href="{% url 'Registro' %}" class="Ingresar">Ir </a> </p> 

{%endblock%}